div.data-container {
  display: flex;
  color: white;

  margin-top: 15px;

  padding: 0 15px;

  section.filters {
    max-height: calc(100vh - 108px);
    width: 300px;
  }

  section.visualizations {
    width: calc(100% - 300px);

    .tabs {
      color: white;

      div div button {
        color: white !important;

        &.Mui-selected {
          background-color: #202e46 !important;
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
        }
      }
    }
  }
}
