.globe-tooltip {
    background: white;
    border-radius: 5px;
    color: black;
    padding: 5px;

    div {
        display: flex;
    }

    span {
        margin-right: 5px;
    }

    b {
        margin-left: auto;
    }
}