.scatterplot-container {
  .recharts-cartesian-grid-horizontal {
    line {
      stroke-dasharray: 2, 2;
      stroke: #d0d0da;
    }
  }
  .recharts-cartesian-grid-vertical {
    line {
      stroke-dasharray: 2, 2;
      stroke: #d0d0da;
    }
  }

  .recharts-cartesian-axis-tick-value {
    tspan {
      fill: #a1a1b5;
      letter-spacing: 0.03em;
      //font-weight: bold;
      font-size: 14px;
    }
  }

  .chart-tooltip {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 999999;

    background-color: white;
    min-width: 100px;
    min-height: 50px;

    padding: 5px;

    border: 1px solid #9697aa;
    border-radius: 5px;

    .label {
      flex: 1;
      color: black;
      margin: 2px 5px;
    }
  }

  .tooltip-split {
    width: 100%;
    height: 2px;
    background-color: #9697aa;
    margin: 5px 0;
  }
}

.recharts-tooltip-wrapper {
  z-index: 100;
}