.table-container {
    margin: 5px;
    width: calc(100% - 10px);
    height: 100%;
    max-height: calc(100% - 15px);

    .Layout-root {
        height: 100%;
    }
}

.TableContainer-root::-webkit-scrollbar {
    display: none;
}